---
import nemesis from '@/img/nemesis.jpg';
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="My awesome homepage">
    <div class="flex h-screen justify-center sm:items-center">
        <div class="flex w-full flex-col space-y-10 rounded-md p-6 sm:w-1/2 sm:border sm:p-20">
            <div class="text-4xl">Hi, I'm Emma</div>
            <Image src={nemesis} class="border-8" alt="A cat with all sorts of issues" />
            <div class="text-right text-2xl">...and this is my homepage</div>
            <div class="text-right text-base">(and that's my cat)</div>
        </div>
    </div>
</BaseLayout>
