---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="My awesome homepage">
    <div class="flex h-screen items-center justify-center">
        <div class="flex w-1/2 flex-col space-y-10 rounded-md border p-10">
            <div class="text-4xl">Hi, I'm Emma</div>
            <div class="text-right text-2xl">...and this is my homepage</div>
        </div>
    </div>
</BaseLayout>
